
  <div class="row">
    <div class="col-md-6">
        <div class="card m-2"  >
            <div class="card-header text-center mb-1">
              Incidents
            </div>
            <table class="table table-hover ">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Issue</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let incidence of incidences">
            
                    <td>{{ incidence.incidentID}}</td>
                    <td> {{ incidence.issueType }}</td>
                    <td> {{ incidence.email }}</td>
                    <td>
                      <button class="btn btn-primary" (click)="selectContact(incidence)" data-toggle="modal" data-target="#exampleModal"> Show details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body text-center">
             Incident detail that you want
            </div>
          </div>
        
          
        <div class="card" *ngIf="selectedIncident" >
            <div class="card-body">
                <h5 class="card-title">Email :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.email}}</span></h5>
              <h5 class="card-title">Incindent ID :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.incidentID}}</span></h5>
              <h5 class="card-title">Contact no :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.contactNumber}}</span></h5>
              <h5 class="card-title">User Name :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.username}}</span></h5>
              <h5 class="card-title"> Vehicle Number :<span class="card-subtitle mb-2 pl-3 text-muted">{{selectedIncident.vehicleNumber}}</span></h5>
              <h5 class="card-title">IssueType  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.issueType}}</span></h5>
              <h5 class="card-title">Location  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.location}}</span></h5>
              <h5 class="card-title">Rmarks  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.remarks}}</span></h5>
              <h5 class="card-title">Report Time  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.reportDateTime}}</span></h5>
              <h5 class="card-title">TransporterID  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.transporterID}}</span></h5>
              <h5 class="card-title">Transporter Name  :<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.transporterName}}</span></h5>
              <h5 *ngIf="selectedIncident.supportRemark" class="card-title">Supported Remark:<span class="card-subtitle mb-2 pl-3  text-muted">{{selectedIncident.supportRemark}}</span></h5>
             <div *ngIf="!selectedIncident.supportRemark">
              <label for="exampleFormControlTextarea1">Enter Your Remark</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" #news rows="3" placeholder="Enter your remark" name="supportRemark" ></textarea>
             <button type="submit" class="btn btn-primary mt-1" (click)="submitRemark(news)">Submit</button>                                 
            </div>
            </div>
          </div>

      </div>
  </div>



<!-- 

    <div class="row">
      <div class="col-md-6">
          <div class="card">
             
              <div class="card-header">
                <h4 class="card-title">Incidents</h4>
             
              </div>
              <div class="card-body" style="margin-top: 70px;">
                
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Issue</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let incidence of incidences">
              
                      <td>{{ incidence.incidentID}}</td>
                      <td> {{ incidence.issueType }}</td>
                      <td> {{ incidence.email }}</td>
                      <td>
                        <button class="btn btn-primary" (click)="selectContact(incidence)" data-toggle="modal" data-target="#exampleModal"> Show details</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          
          
               <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"   aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" >
                          <form>
                              <div class="form-group">
                                  <label for="">Incindent ID</label>
                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId"  readonly>
                                 <label for="exampleInputEmail1">Email address</label>
                                 <input type="email" class="form-control" id="exampleInputEmail1" [value]="selectedIncident.email"  readonly>
                                 <label for="exampleInputPassword1">Contact no</label>
                                 <input type="text" class="form-control" id="exampleInputPassword1" [value]="selectedIncident.contactNumber" readonly> 
                                 <label for="">User Name</label>
                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.username" readonly>
                                 <label for="">Vehicle Number</label>
                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.vehicleNumber" readonly> 
                                 <label for="">Issue Type</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.issueType" readonly>
                                   <label for="">Location</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.location" readonly>
                                  <label for="">Remark</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.remarks" readonly>
                                   <label for="">Report Time</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.reportDateTime" readonly>
                                   <label for="">Transporter ID</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.transporterID" readonly>
                                   <label for="">Transporter Name</label>
                                   <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [value]="selectedIncident.transporterName" readonly>
                                  
                                  </div>
                 <button type="submit" class="btn btn-primary" (click)="submitRemark()">Submit</button>
                          </form>
                     
                      
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
           
      </div>
      <div class="col-md-6">
      
        </div>  
    </div>

 -->
