.spinner{
    position: absolute;
    z-index: 2;
    left: 48%;
    top: 45%;
}
.error-header {
	background: #fff;
	height: 180px;
}

.error-container {
	background: rgba(0,0,0,.05);
	text-align: center;
}

.error-container h1 {
	color: #39bbdb;
}

.error-container h1 {
	font-size: 110px;
	font-weight: 300;
	margin: -103px 0 0 0;
	text-align: center;
}

.error-divider {
	margin-top: -27px;
	padding: 30px 0;
}

.error-container h2 {
	font-size: 58px;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

.error-container p.description {
	color: #e5e5e5;
	font-size: 40px;
	margin: 0;
}


 